body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #161616;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  border: solid black 2px;
}

header {
  display: flex;
  flex-direction: column;
}

#selectSound {
  display: flex;
  flex-direction: column;
}

.audio {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%);
  visibility: hidden;
}

#alramSelect {
  text-align: center;
  width: 150px;
  height: 30px;
  margin: 0 auto;
}
